@import '../../../scss/variables.scss';

.footer_wrapper {
    width:100vw;
    min-height:160px;
    background-color:#212121;
    position: relative;
    bottom:0;
    left:0;
    @include flex-center;
    justify-content:flex-start;
    margin:0;

        ul {
            width:auto;
            height:40px;
            @include flex-center;
            flex-direction:row;
            list-style-type:none;
            margin:auto 0 10px 10px;
            padding:0;

            li {
                width:40px;
                height:40px;
                margin:0 10px 0 0;
                cursor:pointer;

                img {
                    height:100%;
                    width:auto;
                }
            }
        }
}