@import '../../../scss/variables.scss';

.card_wrapper {
    width:90vw;
    max-width:400px;
    min-height:500px;
    max-height:500px;
    background:#fff;
    @include flex-center;
    justify-content:flex-start;
    margin-top:60px;
    z-index:2;
    flex-direction:column;
    opacity:1;
    flex-shrink:0;
    position:relative;
    border:1px solid #212121;
    //animation:slideInLeft .75s linear forwards;
    //animation-delay:2s;

    .project_image {
        background-color:#212121;
        width:90%;
        height:200px;
        max-height:200px;
        margin:5% auto;
        flex-shrink:0;
        overflow:hidden;
        @include flex-center;
        border:none;
        transition: transform .2s; /* Animation */

        img {
            width:auto;
            height:100%;
            margin:0 auto;
            z-index:99;
            transition: transform .5s; /* Animation */
        }
    }

    .project_details {
        @include flex-center;
        justify-content:flex-start;
        flex-direction:column;
        width:90%;
        height:auto;
        color:#212121;

        h3 {
            font-size:1.5rem;
            margin:0;
            font-family:'Oswald', sans-serif;
        }

        h4 {
            margin:10px 0 5px 0;
            font-family:'Pridi', sans-serif;
            font-size:1rem;
        }

        ul {
            width:100%;
            height:auto;
            max-height:100px;
            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            align-items:center;
            list-style-type:none;
            padding:0;

            li {
                width:45px;
                height:40px;
                margin:0 7.5px;
                padding:0;
                @include flex-center;

                img {
                    width:auto;
                    max-width:45px;
                    height:auto;
                    max-height:40px;
                    margin:auto;
                    display:block;
                }
            }
        }

        p {
            font-size:1.1rem;
            font-family:'Pridi', sans-serif;
            position:absolute;
            width:90%;
            bottom:57.5px;
            left:50%;
            transform:translateX(-50%);
        }
    }

    a {
        position:absolute;
        bottom:20px;
        right:20px;
        text-decoration:none;
        color:#212121;
        font-size:1.2rem;
        background:red;
        width:auto;
        height:45px;
        @include flex-center;
        color:#fff;
        padding:0 20px;
        font-family:'Pridi', sans-serif;
        z-index:99;
        cursor:pointer;
    }

    .hidden_container {
        display:none;
        width:0;
        height:0;
        @include flex-center;
    }
}

@keyframes slideInLeft {
    0% {
        opacity:0;
        margin-right:-100vw;
        //margin-left:auto;
    }

    75% {
        opacity:1;
    }

    100% {
        opacity:1;
        margin-right:auto;
        margin-left:auto;
    }
}

@media (min-width:1000px) {
    .card_wrapper {
        margin:60px auto 0 auto;

        .project_details {
            ul {
                li {
                    width:55px;
                    height:40px;
                    margin:0 7.5px;

                    img {
                        width:auto;
                        max-width:55px;
                        height:auto;
                        max-height:40px;
                    }
                }
            }
        }
    }
}