@import '../../../scss/variables.scss';

.card_wrapper {
    width:90vw;
    max-width:400px;
    min-height:500px;
    max-height:500px;
    background:#fff;
    @include flex-center;
    justify-content:flex-start;
    //margin:60px 100vw 60px 0;
    margin-top:60px;
    //margin-right:-100vw;
    z-index:2;
    flex-direction:column;
    opacity:1;
    flex-shrink:0;
    position:relative;
    //animation:slideInLeft .75s linear forwards;
    //animation-delay:2s;

    .project_image {
        background-color:#212121;
        width:90%;
        min-height:200px;
        margin:5% auto;
        flex-shrink:0;

        img {
            width:100%;
            height:100%;
            z-index:99;
        }
    }

    .project_details {
        @include flex-center;
        justify-content:flex-start;
        flex-direction:column;
        width:90%;
        height:auto;
        color:#212121;

        h3 {
            font-size:1.5rem;
            margin:0;
            font-family:'Oswald', sans-serif;
        }

        h4 {
            margin:10px 0 5px 0;
            font-family:'Pridi', sans-serif;
            font-size:1rem;
        }

        p {
            font-size:1.1rem;
            font-family:'Pridi', sans-serif;
        }
    }

    a {
        position:absolute;
        bottom:20px;
        right:20px;
        text-decoration:none;
        color:#212121;
        font-size:1.2rem;
        background:red;
        width:auto;
        height:45px;
        @include flex-center;
        color:#fff;
        padding:0 20px;
        font-family:'Pridi', sans-serif;
    }
}

@keyframes slideInLeft {
    0% {
        opacity:0;
        margin-right:-100vw;
        //margin-left:auto;
    }

    75% {
        opacity:1;
    }

    100% {
        opacity:1;
        margin-right:auto;
        margin-left:auto;
    }
}

@media (min-width:1000px) {
    .card_wrapper {
        margin:60px auto 0 auto;
    }
}