@import '../../../scss/variables.scss';

.transition-group {
    .fade-enter {
        opacity: 0;
        //transform:scale(.5) translateX(100vw);
        //transform:translateX(100vw);
    }
    
      .fade-enter.fade-enter-active {
        opacity: 1;
        //transform:scale(1) translateX(0);
        //transform:translateX(0);
        transition: all 400ms ease-in;
      }

      .fade-enter.fade-enter-done {
        opacity:1;
      }
    
      .fade-exit {
        opacity:1;
      }
    
      .fade-exit.fade-exit-active {
        opacity:0.5;
        transition: all 200ms ease-in;
      }

      /*.fade-exit.fade-exit-done {
        opacity:0;
      }*/
}