@font-face {
    font-family: 'Oswald';
    src:url('/dist/resources/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pridi';
    src:url('/dist/resources/fonts/Pridi-Regular.ttf') format('truetype');
}