@import './variables.scss';
@import './fonts.scss';

.landing_wrapper {

    .bg_container {
        background-image:url('../resources/images/backgrounds/frozen_lake.jpg');
        width:100vw;
        height:100vh;
        background-size:cover;
        background-position:center;
        position: relative;      
    }
}