@import "./variables.scss";
@import "./fonts.scss";
//@import "./hamburgers.scss";


* {
    box-sizing:border-box;
}

body {
    margin:0;
    overflow-x:hidden;
}

.wrapper {
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    margin:0;
    flex-shrink:0;
    background-color:#000;
    overflow:hidden;

    #root {
        min-height:100vh;
    }

    /*Shared main landing styles for all pages. Background images are defined in their respective scss files*/
    .content {
        width:100vw;
        //min-height:calc(100vh + 120px);
        min-height:100vh;
        @include flex-center;
        align-items:flex-start;
        position:relative;

        .landing_wrapper {
            width:100vw;
            //min-height:calc(100vh + 120px);
            min-height:100vh;
            @include flex-center;
            align-items:flex-start;
            position:relative;
            //animation:fadeIn .75s ease forwards, slideIn .25s ease forwards;

            h1 {
                margin:100px 0 0 0;
                font-family:'Oswald', sans-serif;
                font-size:2.2rem;
                color:#fff;
                position: relative;
                width:100%;
                height:auto;
                text-align:center;
            }

            .bg_container {
                position:absolute;
                top:0;
                left:0;
                //animation:zoomIn 6s ease forwards;
                //animation-delay:0.5s;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

@keyframes slideIn {
    0% {
        transform:translateX(100vw);
    }

    100% {
        transform:translateX(0vw);
    }
}

@keyframes zoomIn {
    0% {
        transform:scale(1);
    }

    100% {
        transform:scale(1.15);
    }
}

@media (min-width:1000px) {
    .wrapper {
        .content {
            .landing_wrapper {
                h1 {
                    font-size:3.5rem;
                }
            }
        }
    }
}