//@import "./variables.scss";
//@import "/fonts.scss";
//@import "./hamburgers.scss";


* {
    box-sizing:border-box;
}

body {
    margin:0;
    overflow-x:hidden;
}

.wrapper {
    width:100vw;
    min-height:600px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    margin:0;
    flex-shrink:0;
}