@import './variables.scss';
@import './fonts.scss';

.content {
    div {
        .landing_wrapper {
            
        }
        
        section {
            width:100vw;
            min-height:100vh;
            @include flex-center;
            justify-content:flex-start;
            background-color:$primary-lighter;

            h2 {
                color:#fff;
                font-family:'Oswald', sans-serif;
                font-size:3rem;
                color:#fff;
                position: relative;
                width:100%;
                height:auto;
                text-align:center;
            }
        }
    }
}