@import './variables.scss';
@import './fonts.scss';

.port_image {
    flex-direction:column;

    h1 {
        margin:0;
    }

    .bg_container {
        background-image:url('../resources/images/backgrounds/sand_dunes.jpg');
        width:100vw;
        height:100vh;
        background-size:cover;
        background-position:center;
        position: relative; 
    }
}